.begin {
	display: grid;
	justify-items: center;
	.wrapper {
		margin-bottom: 115px;
		height: 1183px;
		background-color: #FFF5F2;
		.box {
			padding-top: 78px;
			font-size: 20px;
			line-height: 40px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
			.nested {
				h2 {
					padding-bottom: 20px;
				}
				span {
					font-weight: 700;
				}
				button {
					margin-left: 50px;
				}
				.btn {
					width: 380px;
					height: 72px;
					font-size: 18px;
					text-transform: uppercase;
					background: #ECB22E;
					border: 3px solid #ECB22E;
				}
			}
		}
	}
}

