.burning {
	display: grid;
	justify-items: center;
	.wrapper {
		width: 1309px;
		height: 638px;
		margin-bottom: 115px;
		background-color: #FFF5F2;
		display: grid;
		align-items: center;
		grid-template-columns: 565px 744px;
		.box {
			font-size: 20px;
			line-height: 40px;
			display: grid;
			justify-items: center;
			h2 {
				padding-bottom: 35px;
				text-align: left;
				}
			
		}
	}
}