.footer {
    display: grid;
	justify-items: center;
    padding-bottom: 125px;
    .wrapper {
        width: 1309px;
        height: 350px;
        font-size: 20px;
        // background-color: #FFF5F2;
        .name {
            font-family: 'SF UI Display';
            // font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            padding-top: 59px;
            padding-bottom: 59px;
        }
        .box {
            display: grid;
            grid-template-columns: 431px 150px 150px 578px;
            font-size: 18px;
            .menu {
                display: grid;
                grid-template-rows: repeat(3, 70px);
                a {
                    color: #000;
                	text-decoration: none;
                }
                .menu4 {
                    display: grid;
                    justify-items: center;
                    &__s {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .btn {
                        width: 180px;
                        height: 43px;
                        font-size: 14px;
                        text-transform: uppercase;
                        background: #ffffff;
                        border: 1px solid #ECB22E;
                    }                  
                }
                
               
                

            }
        }
    }
}