.main {
	&__wrapper {
		display: grid;
		grid-template-columns: 1010px 919px;
	}
	&__tittle {

	}
	h1 {
		margin-left: 307px;
		margin-top: 90px;
		font-size: 43px;
		line-height: 65px;
		text-transform: uppercase;
	}
	.subtittle {
		margin-left: 307px;
		margin-top: 40px;
		font-size: 28px;
		line-height: 45px;
		text-transform: uppercase;
	}
	.btn2 {
		margin-left: 307px;
		margin-top: 73px;
		width: 380px;
		height: 72px;
		font-size: 18px;
		text-transform: uppercase;
		background: #ECB22E;
		border: 3px solid #ECB22E;
	}
	&__photo {
		img {
			width: 100%;
		}
	}
	.social {
		margin-top: 31px;
		display: grid;
		grid-template-columns: repeat(4, minmax(65px, 80px));
		gap: 45px;
		margin-left: 1080px;
		margin-bottom: 71px;
		a {
			color: #000;
			text-decoration: none;
		}
	}



}