.training {

    .wrapper {
        margin-top: 150px;
        margin-bottom: 120px;
        font-size: 20px;
        display: grid;
        justify-content: center;
        grid-template-columns: 476px 832px;
    
    }
    
     .box1 {
        .nested1 {
            height: 713px;
        }
     }
     .box2 {	
        display: grid;
        .nested2 {
            padding: 80px 50px 50px 170px;
            background-color: #FFF5F2;
            align-self: center;
            height: 639px;
            line-height: 40px;
            h2 {
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 63px;
            }
            p {
                text-align: left;
                width: 491px;
                margin-bottom: 38px;
            }
            .p3 {
                width: 495px;
            }
        }
        }
}